<div style="width:950px; margin:auto; margin-top:10px;margin-bottom:10px;">
  <div class="row wrapper outer" style="margin:auto">
    <div class="column left">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" style="height:300px; width:350px"
      />
    </div>
    <div class="column right">
      <br>
      <div class="row">
        <div class="col-sm-8">
          <label>
            <strong>Name: </strong>
          </label>
          <strong>HOTEL NAME</strong>
        </div>
        <div class="col-sm-4">
          <label>
            <strong>Rating:</strong>
          </label>
          <strong> RATING</strong>
        </div>
      </div>
      <div class="row col-sm-12">
        <!-- <p> Street, City, State, Country</p> -->
        <label>
          <strong>Address: </strong>
        </label>
        <p> DHULIKHEL, KATHMANDU, BAGMATI, NEPAL</p>
      </div>
      <div class="row col-sm-8">
        <button class="btn btn-primary"> SHOW ON MAP</button>
      </div>

      <div class="row wrapperInner col-sm-12">
        <p>
          ONE OF THE BEST HOTLELS IN NEPAL
        </p>
      </div>
      <div class="row">
        <div class="col-sm-8 ">TV/WIFI/BATH TUB/ATTACHED REST ROOM</div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-8 "></div>
        <div class="col-sm-4 ">
          <button class="showRoom btn btn-primary" style="float:right; margin-right:30px"> SHOW ROOM</button>
        </div>

      </div>
    </div>
    <div>
    </div>
  </div>
</div>


<!--    
<!-- <div layout="row" style="max-width:300px">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="image" style="max-height: 500px; max-width:300px"/>
</div> -->
<!-- <div layout="column"  style="max-width: 50%;max-height: 20px" flex="70">
  <div layout="column"  style="max-width: 50%;max-height: 20px">
      <div flex style="max-width: 50%;max-height: 20px">Ktm</div>
      <div flex style="max-width: 50%;max-height: 20px">1.4</div>
  </div>
<div layout="column">
    <div flex>Ktm</div>
    <div flex>1.4</div>
</div> 

</div>-->

<!-- <div layout="row" style="width: 50%; height: 50%">

    <span layout="column" style="width: 50%; height: 100%">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="image" style="max-height: 500px; max-width:300px"
      />
    </span>

    <span layout="column">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="image" style="max-height: 500px; max-width:300px"
      />
    </span>
  </div> -->

<!-- <div layout="row">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="image" style="max-height: 500px; max-width:300px"
    />
  </div>
  <div layout="row" style="float: right">
    <div layout="column">

      <div flex> First Item</div>

      <div flex> Second </div>
      <div flex> Street, City, State, Country</div>
      <div flex> Show On Map</div>
      <div flex> One of the best hotels in Kathmandu</div>
      <div flex>
        <h3> Features</h3>
      </div>
      <div layout="column">
        TV, Wifi, Bath Tub
      </div>
      <button> Show Room</button>
    </div>
  </div> -->